h1 {
    text-align: center;
    font-family: "Julee", cursive;
    font-weight: 400;
    font-style: normal;
}

h2 {
    text-align: center;
    font-family: "Julee", cursive;
    font-weight: 400;
    font-style: normal;
}

p {
    font-family: "Lobster", serif;
    font-weight: 400;
    font-style: normal;
}
  